{% extends "layout.html" %}

{% block body %}

<div id="dropdown" class="col-2">
  <form action="/graphs.html" method="get">
    <select name="dataset" class="custom-select">
      <option selected disabled>Select a graph:</option>
      <option value="DFF">Federal Interest Rate</option>
      <option value="DPRIME">Bank Prime Loan Rate</option>
      <option value="UNRATE">Unemployment Rate</option>
      <option value="YIELD">US Treasury Curve Rate</option>
      <option value="GDPGR">GDP Growth Rate</option>
      <option value="SPCOMP">S&P 500 Price</option>
      <option value="PERATIO">S&P 500 PE Ratio</option>
    </select>
    <br>
    <label for="start_date">Start date:</label>
    <br>
    <input type="date" id="start_date" name="start_date" value="2020-01-01" min="1950-01-01" max="2021-01-01">
    <br>
    <label for="end_date">End date:</label>
    <br>
    <input type="date" id="end_date" name="end_date" value="2021-01-01" min="1950-01-01" max="2021-01-01">
    <input type="submit" class="btn btn-primary">
  </form>
</div>

<div>
  {% if errorCode %}
  <p style="padding-left: 75px">Unable to retrieve newest data! Reason: {{ errorCode }}</p>
  {% endif %}
</div>

<div id="chart">
  {% if input %}
  <script>
    var graphs = {{ input | safe }}
    console.log(graphs)
    Plotly.plot('chart', graphs, {});
  </script>
  {% else %}
  <p style="padding-left: 75px">To begin, please select a graph.</p>
  {% endif %}
</div>

{% endblock %}