{% extends "layout.html" %}

{% block body %}

<div>
    {% if errorCode %}
    <p style="padding-left: 75px">Unable to retrieve newest data! Reason: {{ errorCode }}</p>
    {% endif %}
</div>

<div id="DFF">
    <script>
        var theStuff = {{ input["DFF"] | safe }}
        Plotly.plot('DFF', theStuff, {});
    </script>
</div>
<div id="DPRIME">
    <script>
        theStuff = {{ input["DPRIME"] | safe }}
        Plotly.plot('DPRIME', theStuff, {});
    </script>
</div>
<div id="UNRATE">
    <script>
        theStuff = {{ input["UNRATE"] | safe }}
        Plotly.plot('UNRATE', theStuff, {});
    </script>
</div>
<div id="YIELD">
    <script>
        theStuff = {{ input["YIELD"] | safe }}
        Plotly.plot('YIELD', theStuff, {});
    </script>
</div>
<div id="GDPGR">
    <script>
        theStuff = {{ input["GDPGR"] | safe }}
        Plotly.plot('GDPGR', theStuff, {});
    </script>
</div>
<div id="SPCOMP">
    <script>
        theStuff = {{ input["SPCOMP"] | safe }}
        Plotly.plot('SPCOMP', theStuff, {});
    </script>
</div>
<div id="PERATIO">
    <script>
        theStuff = {{ input["PERATIO"] | safe }}
        Plotly.plot('PERATIO', theStuff, {});
    </script>
</div>

{% endblock %}