{% extends "layout.html" %}

{% block body %}

<div id="dropdown" class="col-2">
  <form action="/historicGraphs.html" method="get">
    <select name="graph" class="custom-select">
      <option selected disabled>Select a graph:</option>
      <option value="DFF">Federal Interest Rate</option>
      <option value="DPRIME">Bank Prime Loan Rate</option>
      <option value="UNRATE">Unemployment Rate</option>
      <option value="GDPGR">GDP Growth Rate</option>
      <option value="YIELD">US Treasury Curve Rate</option>
      <option value="SP_PE">S&P 500</option>
      <input type="submit" class="btn btn-primary">
    </select>
  </form>
</div>

<div id="chart">
  {% if graphJSON %}
  <script>
    var graphs = {{ graphJSON | safe }}
    console.log(graphs)
    Plotly.plot('chart', graphs, {});
  </script>
  {% else %}
  <p style="padding-left: 75px">To begin, please select a graph.</p>
  {% endif %}
</div>

{% endblock %}