{% extends "layout.html" %}

{% block body %}

<h1 style="font-size: 24px">Free API for Growth, employment, inflation, labor, manufacturing and other US economic
  statistics from the research department of the Federal Reserve Bank of St. Louis.</h1>
<a
  href="https://data.nasdaq.com/data/FRED-federal-reserve-economic-data/documentation">https://data.nasdaq.com/data/FRED-federal-reserve-economic-data/documentation</a>
<p>Good indicators to use:<br>Federal Fund Rate<br>Civilian unemployment rate<br>Capacity utilization<br>Industry
  Prodution</p>
<a href="https://data.nasdaq.com/data/MULTPL-sp-500-ratios">https://data.nasdaq.com/data/MULTPL-sp-500-ratios</a>
<p>Free API for S&P 500 Ratios, might not work as it seems to be poorly maintained</p>

{% endblock %}